<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
            <!-- <div class="card p-4">
                <div class="row">
                    <div class="col-lg-12">
                        <h6 class="flex-grow-1">London</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="mb-0 font-weight-bold" id="heading"> 13° C </h1> <span class="small grey">Stormy</span>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p class="my-1"> <img src="https://i.imgur.com/B9kqOzp.png" height="17px"> <span> 40 km/h </span> </p>
                        <p class="my-1"> <i class="fa fa-tint mr-2" aria-hidden="true"></i> <span> 84% </span> </p>
                        <p class="my-1"> <img src="https://i.imgur.com/wGSJ8C5.png" height="17px"> <span> 0.2h </span> </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="https://i.imgur.com/Qw7npIg.png" class="pull-right" width="100px">
                    </div>
                </div>
            </div> -->
            <div class="card p-4 my-2" *ngFor="let wInfo of weatherData" (click)="onCardClicked(wInfo.name)">
                <div class="d-flex">
                    <h6 class="flex-grow-1">{{wInfo.name}}</h6>
                </div>
                <div class="d-flex flex-column temp mt-5 mb-3">
                    <h3 class="mb-0 font-weight-bold" id="heading"> {{wInfo.main.temp}}° C </h3> <span class="small grey">{{wInfo.weather[0].main}}</span>
                </div>
                <div class="d-flex">
                    <div class="temp-details flex-grow-1">
                        <p class="my-1"> <span>Sunrise: </span> <span> {{wInfo.sys.sunrise | extractTime}} </span> </p>
                        <p class="my-1"> <span>Sunset: </span> <span> {{wInfo.sys.sunset | extractTime}} </span> </p>
                    </div>
                    <div> <img src="https://i.imgur.com/Qw7npIg.png" width="100px"> </div>
                </div>
            </div>
        </div>
    </div>
</div>